table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 8px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ccc;
}

thead tr {
  border-bottom: 2px solid #444;
}

.p-field-radiobutton label {
  margin-left: 0.75rem;
}

.p-field-radiobutton {
  margin-bottom: 1rem;
}

.p-field-last-radiobutton label {
  margin-left: 0.75rem;
}

.p-last-field-radiobutton {
  margin-bottom: 1rem;
}