<p>Some things that may eventually be included in this space:</p>
<ul>
    <li>Auto-detect page template (let user override) (this will be used to inform GenAI what kind of page it is)</li>
    <li>List of components found on page (pull in relevant guidance from UCDG)</li>
    <li>Metadata</li>
    <li>Warn user if they are using deprecated version of component (auto-fix?)</li>
    <li>Extra info like AI orphans</li>
    <li>Check if link text matches destination text?</li>
    <li>Send to AI right away with prompt like "What is wrong with my page"</li>
    <li>Page structure (detected but editable)</li>
</ul>
