<p>Use these tools to analyze and improve your web page. You can restructure headings, generate an IA diagram, find guidance on the components used in your page, integrate SEO and user insights into your updates, check your link quality, or convert your page to a different template.</p>

<p-accordion [value]="[]" [multiple]="true" class="flex flex-column gap-3">
    <p-accordion-panel value="0" class="border-1 border-round-md border-surface">
        <p-accordion-header>Heading structure</p-accordion-header>

        <p-accordion-content>
            <p-table [columns]="cols" [value]="headings"
                     size="small" stripedRows [tableStyle]="{ 'min-width': '50rem' }"
                     [reorderableColumns]="true"
                     selectionMode="single" [(selection)]="selectedHeading" dataKey="order" metaKeySelection="false">
                <ng-template #header let-columns>
                    <tr>
                        <th style="width:3rem"></th>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template #body let-rowData let-columns="columns" let-index="rowIndex">
                    <tr [pReorderableRow]="index" [pSelectableRow]="rowData">
                        <td>
                            <span class="pi pi-bars" pReorderableRowHandle></span>
                        </td>
                        <td>{{ rowData.order }}</td>
                        <td>{{ rowData.type }}</td>
                        <td [ngClass]="getTextClass(rowData)" [ngStyle]="getTextStyle(rowData)">{{ rowData.text }}</td>
                        <td>Add buttons!</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="5" class="border-1 border-round-md border-surface">
        <p-accordion-header>IA structure</p-accordion-header>
        <p-accordion-content>

            <!--UI-->
            <div class="flex flex-row flex-wrap align-items-center gap-3 mt-0">
                <p-iftalabel>
                    <p-inputnumber [(ngModel)]="depth" inputId="depth" mode="decimal" [showButtons]="true" [min]="2" [max]="6" />
                    <label for="depth">Depth</label>
                </p-iftalabel>
                <p-button label="Verify IA" severity="help" (click)="checkIA()" [loading]="isChartLoading" icon="pi pi-info-circle" />
                <p-button label="Maximize IA chart" severity="secondary" (click)="maximize(chartContainer)" icon="pi pi-window-maximize" *ngIf="iaChart && iaChart.length > 0" />
            </div>
            <p-progressbar *ngIf="isChartLoading" [value]="iaProgress" [showValue]="false" [style]="{'height': '1rem'}" styleClass="mt-3" />

            <!--Breadcrumb-->
            <ng-container *ngIf="breadcrumb.length > 0">
                <h2>Breadcrumb</h2>
                <div class="flex flex-row align-items-center gap-3">
                    <p-breadcrumb class="max-w-full" styleClass="pl-1" [model]="breadcrumb" />
                    <i class="pi pi-check-circle text-green-400" *ngIf="urlFound===true"><span class="ml-1">Link found on parent page</span></i>
                    <i class="pi pi-times-circle text-red-400" *ngIf="urlFound===false"><span class="ml-1">IA Orphan</span></i>
                </div>
            </ng-container>

            <!--IA Chart-->
            <h2 *ngIf="iaChart">IA structure</h2>
            <p *ngIf="iaChart && iaChart.length === 0">No child pages found.</p>
            <div #chartContainer *ngIf="iaChart && iaChart.length > 0" class="overflow-auto max-h-75vh surface-ground surface-border border-1 py-3 mb-3">
                <p-organization-chart [value]="iaChart">
                    <ng-template let-node pTemplate="default">
                        <p><a [href]="node.data" target="_blank" (click)="onNodeClick($event)" [innerHTML]="node.label"></a></p>
                    </ng-template>
                </p-organization-chart>
            </div>

            <!--IA Table-->
            <h2 *ngIf="iaChart">IA structure table</h2>
            <p-treeTable *ngIf="iaChart" [value]="iaChart" styleClass="p-treetable-sm" [scrollable]="true">
                <ng-template #header>
                    <tr>
                        <th>H1</th>
                        <th>URL</th>
                    </tr>
                </ng-template>
                <ng-template #body let-rowNode let-rowData="rowData">
                    <tr [ttRow]="rowNode">
                        <td>
                            <p-treetable-toggler [rowNode]="rowNode" />
                            <span [innerHTML]="rowData.h1" class="ia-label"></span>
                        </td>
                        <td>{{ rowData.url }}</td>
                    </tr>
                </ng-template>
            </p-treeTable>

            <!--Broken Links-->
            <ng-container *ngIf="iaChart">
                <h2>Broken links</h2>
                <p *ngIf="iaChart && brokenLinks.length === 0">No broken links found on this page<span *ngIf="iaChart[0].children?.length"> or on any detected child pages</span>.</p>
                <p-table [value]="brokenLinks" size="small" stripedRows [tableStyle]="{ 'min-width': '50rem' }" *ngIf="brokenLinks.length > 0">
                    <ng-template #header>
                        <tr>
                            <th>Parent page</th>
                            <th>Broken link</th>
                            <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-rowData>
                        <tr>
                            <td>{{ rowData.parentUrl }}</td>
                            <td>{{ rowData.url }}</td>
                            <td>{{ rowData.status }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>

        </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1" class="border-1 border-round-sm border-surface">
        <p-accordion-header>Component guidance</p-accordion-header>
        <p-accordion-content>
            <p class="m-0">Unfinished. Will add fxn to:</p>
            <ul>
                <li>detect which components are used on the page and link to relevant UCDG guidance</li>
                <li>warn user if they are using a depracated version of a component</li>
                <li>auto-fix deprecated code w/ option to accept & merge with page</li>
            </ul>
            <p>This button just checks if you have any classes or elements that aren't in theme.min.css</p>
            <p-button severity="primary" (click)="runValidation()" class="mt-2">Check classes and elements</p-button>
            <ul>
                <li *ngFor="let v of violations">
                    {{v.type}}: {{v.detail}}
                </li>
            </ul>
        </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="2" class="border-1 border-round-sm border-surface">
        <p-accordion-header>SEO & user insights</p-accordion-header>
        <p-accordion-content>
            <p class="mt-0">Unfinished. Will add a function to intregate data with AI prompt.</p>
            <div class="flex flex-row flex-wrap gap-3">
                <p-button label="Get GenAI metadata recomendations" severity="help" (click)="printMessage('GenAI metadata recomendations\nWill use:\npage content\ncanada.ca search terms\nexisting metadata\nWill update:\nmetadata')" [loading]="isChartLoading" icon="pi pi-sparkles" />
                <p-button label="Get GenAI content SEO recomendations" severity="help" (click)="printMessage('GenAI content SEO recomendations\nWill use:\npage content\ncanada.ca search terms\ngoogle search terms\nWill update:\npage lead-in content')" [loading]="isChartLoading" icon="pi pi-sparkles" />
                <p-button label="Get GenAI recomendations based on user data" severity="help" (click)="printMessage('GenAI UX recomendations\nWill use:\npage content\nuser feedback\nUX findings\nWill update:\npage content')" [loading]="isChartLoading" icon="pi pi-sparkles" />
            </div>

            <ng-container *ngIf="metadata.length > 0">
                <h2>Metadata</h2>
                <div class="flex flex-column gap-3">
                    <p-ifta-label variant="in" class="flex-1">
                        <textarea pTextarea [(ngModel)]="metadataMap['dcterms.title']" id="title" rows="1" autoResize fluid></textarea>
                        <label for="title">Title</label>
                    </p-ifta-label>
                    <p-ifta-label variant="in" class="flex-1">
                        <textarea pTextarea [(ngModel)]="metadataMap['description']" id="description" rows="1" autoResize fluid></textarea>
                        <label for="description">Description</label>
                    </p-ifta-label>
                    <p-ifta-label variant="in" class="flex-1">
                        <textarea pTextarea [(ngModel)]="metadataMap['keywords']" id="keywords" rows="1" autoResize fluid></textarea>
                        <label for="keywords">Keywords</label>
                    </p-ifta-label>
                </div>
            </ng-container>
            <h2>Usability Data</h2>
            <div class="flex flex-column gap-3">
                <p-ifta-label variant="in" class="flex-1">
                    <textarea pTextarea [(ngModel)]="canadaSearchTerms" id="search" pTooltip="Used to update lead-in content and keywords" rows="1" autoResize fluid></textarea>
                    <label for="search">Canada.ca search terms</label>
                </p-ifta-label>
                <p-ifta-label variant="in" class="flex-1">
                    <textarea pTextarea [(ngModel)]="googleSearchTerms" id="search" pTooltip="Used to update lead-in content" rows="1" autoResize fluid></textarea>
                    <label for="search">Google search terms</label>
                </p-ifta-label>
                <p-ifta-label variant="in" class="flex-1">
                    <textarea pTextarea [(ngModel)]="userFeedback" id="feedback" pTooltip="Used to update content" rows="1" autoResize fluid></textarea>
                    <label for="feedback">User feedback</label>
                </p-ifta-label>
                <p-ifta-label variant="in" class="flex-1">
                    <textarea pTextarea [(ngModel)]="uxFindings" id="ux" pTooltip="Used to update content" rows="1" autoResize fluid></textarea>
                    <label for="ux">UX test findings</label>
                </p-ifta-label>
            </div>
        </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="3" class="border-1 border-round-sm border-surface">
        <p-accordion-header>Link report</p-accordion-header>
        <p-accordion-content>
            <p class="m-0">Unfinished. Check status of links on page and if destination text matches link text.</p>
        </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="4" class="border-1 border-round-md border-surface">
        <p-accordion-header>Template conversion</p-accordion-header>
        <p-accordion-content>
            <p class="m-0">Unfinished. Will add auto-detect page template fxn and option to choose a template to inform GenAI what kind of page it is or should be.</p>
        </p-accordion-content>
    </p-accordion-panel>

</p-accordion>