<div class="p-mb-3">
  <h1 class="p-text-bold">Translation Assistant</h1>
</div>

<p-card class="p-mb-4">
  <!-- Title and Clear button on same line -->
  <div class="p-d-flex p-ai-center p-mb-3">
    <h2 class="p-m-0 p-text-bold p-text-2xl">Upload source language file</h2>
    <!-- <button
      pButton
      type="button"
      label="Clear"
      class="p-button-secondary"
      (click)="onClear()"
    ></button> -->
  </div>

  <!-- File input and Upload button -->
  <div class="p-d-flex p-ai-center p-mt-2">
    <input
      type="file"
      accept=".docx,.pptx"
      class="p-mr-3"
      (change)="onFileSelected($event)"
    />
  </div>

  <div class="p-mt-2">
    <button
      pButton
      type="button"
      label="Upload file"
      icon="pi pi-upload"
      class="p-button-success"
      [disabled]="!selectedFile"
      (click)="previewSource()"
    ></button>
  </div>

  <!-- Error message -->
  <p-message
    severity="error"
    *ngIf="sourceError"
    text="{{ sourceError }}"
    class="p-mt-2"
  ></p-message>
</p-card>

<div *ngIf="previewText" class="p-mt-4">
  <p-panel header="Preview source language file" toggleable>
    <div class="p-d-flex p-jc-between p-ai-center">
      <span>{{ previewText }}</span>
      <button
        pButton
        type="button"
        icon="pi pi-copy"
        class="p-button-text"
        title="Copy All"
        (click)="copyAll($event)"
      ></button>
    </div>
  </p-panel>
</div>

<!-- Target Language Content Card -->
<div *ngIf="showSecondUpload" class="p-mt-5">
  <p-card>
    <h3 class="p-mb-3">Paste target language content</h3>

    <textarea
      pInputTextarea
      rows="8"
      cols="50"
      placeholder="Enter your translation"
      class="p-inputtext p-mb-3"
    ></textarea>

    <button
      pButton
      type="button"
      label="Format target language content"
      icon="pi pi-align-left"
      class="p-button-primary"
    ></button>
  </p-card>
</div>
