.section {
  /*border-left: var(--first-color-light) 1px solid;
        border-radius: .25rem;*/
  padding: .1rem;
}
.nav_section_body {
  padding-left: .7rem;
}

.nav_section_body.hidden {
  display: none;
}

.nav_link_text {
  margin-left: 0rem;
}

.nav_header {
  color: var(--p-button-primary-background);
  background-color: var(--first-color-light);
  border-radius: .25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0
}

.nav_header:hover {
  font-weight: bold;
  padding-bottom: .5rem
}

.nav_header.active:hover {
  color: #fff
}

.nav_header.active {
  background-color: var(--p-button-primary-background);
  border-radius: .25rem;
  padding-bottom: .5rem;
  margin-bottom: .1rem
}

.nav_header.active-hide {
  background-color: var(--p-button-primary-background);
  border-radius: .25rem;
  padding-bottom: .5rem;
  width: 2.8rem
}

.toggle-icon {
  margin-left: auto;
}

.nav_icon,
.section_text {
  margin-left: .5rem;
}
/* Hide overflowed text with ellipsis */
.section,
.section-body,
.nav_header,
.nav_link_text {
  overflow: hidden;
  text-overflow: ellipsis;

}

@media (max-width: 600px) {
  .nav_header {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-icon {
    margin-left: 0;
    margin-top: 0.5rem;
    align-self: flex-end;
  }
}
