<form #form="ngForm" (ngSubmit)="getHtmlContent()" novalidate>
  <fieldset class="border-none p-0 m-0">
    <legend class="font-bold mb-3">
      {{ 'page.uploadUrl.legend' | translate }}
    </legend>
    <!-- URL input -->
    <div class="mb-3 p-1">
      <label for="source" class="font-semibold">
        {{ 'Source URL' | translate }}
      </label>

      <p-inputGroup>
        <p-inputgroup-addon>
          <i class="pi pi-globe"></i>
        </p-inputgroup-addon>
        <input id="source" pInputText type="url" name="source" [(ngModel)]="source" required pattern="https?://.+"
          #sourceField="ngModel" class="w-full" autocomplete="url" placeholder="https://(your path)" fluid />
      </p-inputGroup>

      <div *ngIf="sourceField.invalid && sourceField.touched" class="text-danger text-sm mt-1 p-1">
        <div *ngIf="sourceField.errors?.['required']">
          {{ 'Source URL' | translate }} {{ 'is required' | translate }}.
        </div>
        <div *ngIf="sourceField.errors?.['pattern']">
          {{ 'page.step2.error' | translate }}
        </div>
      </div>
    </div>

    <!-- Error -->
    <div *ngIf="error" class="alert alert-danger mb-3" role="alert">
      {{ error }}
    </div>

    <!-- Buttons -->
    <div class="flex gap-2 flex-wrap p-1">
      <p-button type="submit" icon="pi pi-save" [label]="'continue' | translate" [loading]="loading"
        [disabled]="form.invalid" severity="info">
      </p-button>
      <p-button label="Load sample data" icon="pi pi-file" (onClick)="loadSampleData()" severity="secondary">
      </p-button>
    </div>

  </fieldset>
</form>