<form #form="ngForm" (ngSubmit)="getHtmlContent()" novalidate>
  <fieldset class="border-none p-0 m-0">

    <legend class="font-bold mb-3 p-0">
      {{ 'page.uploadUrl.legend' | translate }}
    </legend>

    <!-- URL input -->
    <div>
      <label for="urlInput" class="font-semibold">{{ 'Original URL' | translate }}</label>

      <p-inputGroup>
        <p-inputgroup-addon>
          <i class="pi pi-globe"></i>
        </p-inputgroup-addon>
        <input id="urlInput" pInputText type="url" name="urlInput" [(ngModel)]="urlInput" required pattern="https?://.+"
          #urlField="ngModel" class="w-full" autocomplete="url" placeholder="https://(your path)" fluid />
      </p-inputGroup>

      <!--Validation errors-->
      <div *ngIf="urlField.invalid && urlField.touched" class="text-red-500 text-xs mt-0">
        <div *ngIf="urlField.errors?.['required']">
          {{ 'Original URL' | translate }} {{ 'is required' | translate }}.
        </div>
        <div *ngIf="urlField.errors?.['pattern']">
          {{ 'page.step2.error' | translate }}
        </div>
      </div>

    </div>

    <!-- Upload error -->
    <p-message *ngIf="error" severity="error" [text]="error"></p-message>

    <!-- Buttons -->
    <div class="flex gap-2 flex-wrap mt-3">
      <p-button type="submit" icon="pi pi-save" [label]="'continue' | translate" [loading]="loading"
        [disabled]="form.invalid" severity="primary">
      </p-button>
      <p-button label="Load sample data" icon="pi pi-file" (onClick)="loadSampleData()" severity="secondary">
      </p-button>
    </div>

  </fieldset>
</form>