<h1 id="wb-cont">{{ 'title.page' | translate}}</h1>
<p>{{'page.compare.description' | translate }}</p>

<!-- Control Buttons -->
<div class="flex gap-2 flex-wrap mb-3">
    <p-button label="Send to GenAI" [icon]="isLoading ? 'pi pi-spinner pi-spin' : 'pi pi-comments'" severity="primary"
        (onClick)="sendToAI()" [disabled]="!uploadData?.originalHtml || isLoading"></p-button>
        <!--p-button label="Send to GenAI" [icon]="isLoading ? 'pi pi-spinner pi-spin' : 'pi pi-comments'" severity="primary"
        (onClick)="sendToAIold()" [disabled]="!uploadData?.originalHtml || isLoading"></p-button-->
    <ca-ai-options (promptChange)="onPromptChange($event)" (aiChange)="onAiChange($event)" (aiSubmit)="sendToAI()"></ca-ai-options>
    <p-button label="Reset" icon="pi pi-trash" severity="danger" (onClick)="clearAll()" class="md:ml-auto"></p-button>
</div>

<!-- Results Section -->

<p-tabs value="0">
    <p-tablist>
        <p-tab value="0"><i class="pi pi-eye mr-1"></i>Web page</p-tab>
        <p-tab value="1"><i class="pi pi-code mr-1"></i>Page source</p-tab>
    </p-tablist>
    <!-- Rendered page -->
    <p-tabpanels class="shadow-1">

        <p-tabpanel value="0">
           
                <!--Switch view -->
                <ca-horizontal-radio-buttons label="page.compare.view" [name]="'webView'" [options]="webViewOptions"
                    [(selected)]="webSelectedView" (selectedChange)="onWebViewChange($event)">
                </ca-horizontal-radio-buttons>
                <!--Legend-->
                <div class="group-legend mb-2">
                    <div *ngFor="let item of legendItems()" class="legend-item">
                        <div class="legend-box" [ngStyle]="{
                            'background-color':
                            item.style === 'highlight' ? item.colour : 'transparent',
                            border:
                            item.style === 'line'
                                ? '2px ' + (item.lineStyle || 'solid') + ' ' + item.colour
                                : 'none',
                        }"></div>
                        <span class="legend-text">{{ item.text }}</span>
                    </div>
                </div>
                <!--Shadow Dom-->
                <div #liveContainer class="live-container p-0" [ngClass]="webSelectedView()"></div>

        </p-tabpanel>
        <!-- Source code -->
        <p-tabpanel value="1">
           
                <!--Switch view -->
                <ca-horizontal-radio-buttons label="page.compare.view" [name]="'sourceView'"
                    [options]="sourceViewOptions" [(selected)]="sourceSelectedView"
                    (selectedChange)="onSourceViewChange($event)">
                </ca-horizontal-radio-buttons>
                <!--Source view-->
                <div #sourceContainer class="source-container p-0" [ngClass]="sourceSelectedView()"></div>
           
        </p-tabpanel>

    </p-tabpanels>
</p-tabs>