<h1 id="wb-cont">{{ 'title.page' | translate}}</h1>
<p>{{'page.description' | translate }}</p>

<!-- To-do: 
 Upload content - url, copy/paste, word, sample
 Show content imediately in tab interface - web | code
 Submit to get response from AI - send very basic prompt to 1 AI
 Show diffs in tab interface - web | code
 Build side menu with AI options for iteration
 Build dropdown to select an iteration
 Add option to submit feedback-->

<!--TEST SPACE-->
<p-stepper class="basis-[50rem]" [(value)]="activeStep" [linear]="false">
    <p-step-list>
        <p-step [value]="1">Upload</p-step>
        <p-step [value]="2">View</p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">

                <div class="border-2 border-dashed rounded">

                    <div class="flex flex-wrap">
                        <!--SELECT UPLOAD TYPE-->
                        <div
                            class="flex-grow-0 flex-shrink-0 flex align-items-top justify-content-left m-2 px-5 py-3 border-round">

                            <fieldset class="border-none p-0 m-0">
                                <legend class="font-bold mb-3">Choose upload type:</legend>

                                <div class="flex flex-column gap-3">
                                    <label class="flex align-items-center">
                                        <p-radioButton name="uploadType" value="url"
                                            [(ngModel)]="selectedUploadType"></p-radioButton>
                                        <span class="ml-2">URL</span>
                                    </label>

                                    <label class="flex align-items-center">
                                        <p-radioButton name="uploadType" value="paste"
                                            [(ngModel)]="selectedUploadType"></p-radioButton>
                                        <span class="ml-2">Copy & Paste</span>
                                    </label>

                                    <label class="flex align-items-center">
                                        <p-radioButton name="uploadType" value="word"
                                            [(ngModel)]="selectedUploadType"></p-radioButton>
                                        <span class="ml-2">Word doc (converts to HTML)</span>
                                    </label>
                                </div>
                            </fieldset>

                        </div>
                        <!--Upload-->
                        <div
                            class="flex-grow-1 flex-shrink-0 flex align-items-top justify-content-left m-2 px-5 py-3 border-round">

                            <ng-container [ngSwitch]="selectedUploadType">

                                <ca-upload-url *ngSwitchCase="'url'"
                                    (uploadData)="handleUpload($event)"></ca-upload-url>
                                <ca-upload-paste *ngSwitchCase="'paste'"
                                    (uploadData)="handleUpload($event)"></ca-upload-paste>
                                <ca-upload-word *ngSwitchCase="'word'"
                                    (uploadData)="handleUpload($event)"></ca-upload-word>

                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="border-2 border-dashed rounded">

                    <!--VIEW CONTENT-->
                    <div *ngIf=receivedUploadData>
                        <div class="p-3" *ngIf="receivedUploadData; else noData">
                            <ca-page-compare [uploadData]="receivedUploadData"></ca-page-compare>
                        </div>
                        <ng-template #noData>
                            <p-message severity="danger" text="Did not receive upload data" />
                        </ng-template>
                    </div>
                </div>

            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>